@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* overflow: hidden; */
  width: 100dvw;
  height: 100dvh;
  background-image: linear-gradient(
      rgba(16, 16, 44, 0.8),
      rgba(16, 16, 44, 0.2)
    ),
    url(../../public/bg-star.jpg);
  background-repeat: no-repeat;
  background-size: 150% 100%;
  background-position: center;
  padding: 6%;
}
